@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
}

.map {
    background-image: url('./assets/map.jpg');
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
}

.e_call {
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
}

.e_call img {
    width: 3.8vw;
    height: auto;
}

.info_box {
    width: 23vw;
    height: 20vh;
    box-shadow: 0.25vh 0.25vh 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 15px;
    position: fixed;
    bottom: 8vh;
    right: 10vh;
    font-family: 'InfinitySans-RegularA1';
}

.street {
    font-weight: 600;
    font-size: 2.5vh;
    color: #282828;
    position: fixed;
    top: 74vh;
    left: 155vh;
}

.address {
    font-size: 2.2vh;
    color: #282828;
    position: fixed;
    top: 77.5vh;
    left: 155vh;
}

.phone_num {
    font-weight: 600;
    font-size: 2.3vh;
    color: #909090;
    position: fixed;
    top: 81.3vh;
    left: 155vh;
}

.location {
    font-weight: 600;
    font-size: 2.5vh;
    color: #E6202C;
    position: fixed;
    top: 86.8vh;
    left: 162.5vh;
}

.e_call_img {
    width: fit-content;
    height: fit-content;
}

.e_call_img img {
    width: 1.6vw;
    height: auto;
    position: fixed;
    bottom: 22.5vh;
    right: 12.7vh;
    opacity: .5;
}